body {
    background-color: #f5f4f5;
}

.globalContainer {
    height: 100%;
    width: 100%;

    .header {
        padding: 15px 10px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .basketBtn {
            button {
                background-color: #46A842;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                outline: none;
                border: none;
                cursor: pointer;
                color: white;
                padding: 10px;
            }
        }
    }

    .basketProductsContainer {
        background-color: white;
        width: 96%;
        margin-left: 10px;
        border-radius: 5px;
        display: flex;
        height: auto;
        border-top: 1px solid #EDEBED;
        margin-top: 10px;
        border-bottom: 1px solid #EDEBED;
        flex-direction: column;

        .infoContainer {
            display: flex;
            flex-direction: column;
            padding: 20px;
            width: 100%;

            .info {
                display: flex;
                flex-direction: column;
                width: 100%;

                .btnsDiv {
                    display: flex;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    align-items: center;

                    .quantity {
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 16px;
                    }

                    .minusProduct {
                        border: 2px solid #4288FF;
                        background-color: #FFFFFF;
                        width: 33px;
                        cursor: pointer;
                        height: 32px;
                        outline: none;
                        border-radius: 5px;
                        font-weight: bold;
                        font-size: 16px;
                    }

                    .plusProduct {
                        border: 2px solid #4288FF;
                        background-color: #FFFFFF;
                        width: 33px;
                        cursor: pointer;
                        font-weight: bold;
                        height: 32px;
                        outline: none;
                        border-radius: 5px;
                        font-size: 16px;
                    }
                }

                .priceDiv {
                    display: flex;
                    justify-content: space-between;

                    .price {
                        display: flex;

                        h3 {
                            font-size: 14px;
                        }

                        div {
                            margin-left: 10px;

                            p {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .productItem {
            display: flex;

            .imgDiv {
                margin-left: 20px;
                margin-top: 20px;

                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}

.footerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #EDEBED;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .flexDiv {
        display: flex;
        justify-content: space-between;

        .summa {
            font-size: 14px;
        }

        .totalPrice {
            font-size: 14px;
        }
    }

    .btn {
        margin-top: 10px;
        width: 100%;
        height: 25px;
        border-radius: 7px;
        color: white;
        outline: none;
        border: none;
        background-color: #4288FF;
    }
}