.globalContainer {
    padding: 15px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #3F3D43
}