.globalContainer {

}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.title {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #3F3D43
}

.button {
    background-color: #46A842;
    font-weight: bold;
    color: whitesmoke;
    width: 90vw;
    height: 40px;
    border-radius: 8px;
    outline: none;
    position: fixed;
    bottom: 10px;
    z-index: 10;
    border: none;
    cursor: pointer;
}
.div {
    height: auto;
    width: 200px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px rgba(145, 145, 145, 1);
    border-radius: 3px;
}