.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    .filtersDiv {
        .container {
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(77, 77, 77);
            border-radius: 5px;
            margin-left: 10px;

            img {
                height: 16px;
                height: 16px;
            }
        }

    }

    .searchDiv {
        width: 100%;
        margin-left: 15px;

        .serchInput {
            width: 100%;
            height: 32px;
            border: 1px solid #cfcfcf;
            padding: 5px 5px 5px 30px;
            background: url("../../assets//search.png") no-repeat 3px 1px;
            background-size: 20px 20px;
            background-position: 5px 5px;
            outline: none;
            border-radius: 5px;
        }
        .serchInput::placeholder {
            font-style: italic;
        }        
    }
}

.container {
    position: relative;
    background: gray;
    margin-left: 5px;
    .ulAutoComplete {
      position: absolute;
      left: 0;
      top: 10px;
      width: 100%;
      background: #f3f3f3;
      list-style: none;
      margin: 0;
      padding: 0;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
      z-index: 111;
      max-height: 240px;
      height: auto;
      overflow: auto;
  
      .liAutoComplete {
        padding: 10px;
  
      }
  
      .liAutoComplete:hover {
        background: rgb(225, 225, 225);
        cursor: pointer;
        transition: cubic-bezier(1, 0, 0, 1) .3s all;
      }
    }

.username {
    margin-left: auto;
}