.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;

    .filtersDiv {
        .container {
            height: 32px;
            width: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(139, 139, 139);
            border-radius: 5px;
            margin-left: 10px;
            background-color: white;
            cursor: pointer;

            img {
                height: 16px;
                height: 16px;
            }
        }

    }

    .searchDiv {
        width: 100%;
        margin-left: 15px;

        .serchInput {
            width: 100%;
            height: 32px;
            border: 1px solid #cfcfcf;
            padding: 5px 5px 5px 30px;
            background: url("../../assets//search.png") no-repeat 3px 1px;
            background-size: 20px 20px;
            background-position: 5px 5px;
            outline: none;
            border-radius: 5px;
        }

        .serchInput::placeholder {
            font-style: italic;
        }
    }
}

.container {
    position: relative;
    background: gray;
    margin-left: 5px;

    .ulAutoComplete {
        position: absolute;
        left: 0;
        top: 10px;
        width: 100%;
        background: #f3f3f3;
        list-style: none;
        margin: 0;
        padding: 0;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
        z-index: 111;
        max-height: 240px;
        height: auto;
        overflow: auto;

        .liAutoComplete {
            padding: 10px;

        }

        .liAutoComplete:hover {
            background: rgb(225, 225, 225);
            cursor: pointer;
            transition: cubic-bezier(1, 0, 0, 1) .3s all;
        }
    }
}

.filterContainer {
    position: relative;
    background: white;
    margin-left: 5px;

    // z-index: 99;
    .wrapper {
        .saveBtn {
            width: 100%;
            height: 35px;
            outline: none;
            font-size: 12px;
            border: none;
            color: white;
            background-color: #0b76ef;
            margin-top: 5px;
        }
        .regionList, .categoryList {
            p {
                margin-bottom: 10px;
            }
        }

        position: absolute;
        left: 0;
        top: 10px;
        padding: 15px;
        background: white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
        min-width: 270px;
        height: auto;
    }
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.checkbox:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.username {
    margin-left: auto;
}