.product {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAE9EA;
    background-color: #FFFFFF;
    padding: 15px;
    width: 170px;
    border-radius: 5px;
    .title {
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .img {
        width: 100%;
        background: lightgray;
        height: 100px;
        margin: 0 auto;
        background: var(--tg-theme-button-color);
    }
    
    .description {
        margin-top: 10px;
        font-size: 0.8em;
        margin-bottom: 10px;
    }
    
    .addBtn {
        width: 70%;
        outline: none;
        border: none;
        color: white;
        height: 70px;
        border-radius: 10px;
        background-color: #4288FF;
    }
    
    .price {
        
        b {
            font-size: 15px;
        }
    }
}