.product {
    display: flex;
    flex-direction: column;
    border: 1px solid #EAE9EA;
    background-color: #FFFFFF;
    padding: 15px;
    width: 170px;

    .title {
        margin-top: 8px;
    }

    .img {
        width: 100%;
        background: lightgray;
        height: 100px;
        margin: 0 auto;
        background: var(--tg-theme-button-color);
    }
    
    .description {
        font-size: 0.8em;
        margin-bottom: 10px;
    }
    
    .addBtn {
        width: 100%;
    }
    
    .price {
    
        b {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 17px;
        }
    }
}